body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Courier New', Courier, monospace; /* Set the font to Courier New */
}

.desktop {
    background-image: url('background.jpg'); /* Replace with your background image */
    background-size: cover; /* Ensures the background image covers the entire area */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    width: 100vw;
    height: 100vh;
    position: relative;
}

.icon {
    position: absolute;
    bottom: 20px; /* Position the icon at the bottom */
    left: 20px; /* Position the icon from the left */
    text-align: center;
    cursor: pointer;
}

.icon img {
    width: 50px; /* Size of the icon */
    height: 50px; /* Size of the icon */
}

.terminal-window {
    width: 1090px;
    height: 600px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #111;
    display: none; /* Initially hidden */
    position: absolute; /* Allow positioning */
    top: 100px; /* Initial position */
    left: 100px; /* Initial position */
    z-index: 1000; /* Ensure it is above the desktop */
    display: flex;
    flex-direction: column;
    color: white;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    font-weight: bold;
}

.controls {
    display: flex;
}

.control {
    background: none;
    border: none;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.directory-tree {
    background-color: #222;
    color: #eee;
    padding: 5px;
    border-bottom: 1px solid #333;
}

.output {
    flex: 1;
    overflow-y: auto;
    background-color: #222;
    padding: 10px;
    border-bottom: 1px solid #333;
    color: white;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.command-line {
    display: flex;
    align-items: center;
    padding: 5px;
}

.prompt {
    margin-right: 5px;
}

.input {
    flex: 1;
    background-color: #111;
    color: #eee;
    border: none;
    padding: 5px;
    outline: none;
}
.image-viewer {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    height: auto;
    background-color: #333;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.image-viewer .title-bar {
    background-color: #222;
    color: #fff;
    padding: 5px;
    cursor: move;
    font-size: 14px;
}
.image-viewer img {
    width: 100%;
    height: auto;
}
.image-viewer .close-btn {
    float: right;
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
}

